{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}

{% block body %}
	{{ include('navbar/index.html.twig' ) }}

	<div class="div_panier_vide container-height">
	{% if panier is empty %}
		<h1 class="panier-titre">
			Votre panier est vide
		</h1>
		<p>
			<a class="panier-lien" href="{{ path('app_bonbon') }}">
				Voir la boutique
			</a>
		</p>
	{% else %}
		<div class="panier_div">
			<table class="table">
				<thead>
					<tr class="table-tr">
						<th class="table-th" scope="col">#</th>
						<th class="table-th" scope="col">Produit</th>
						<th class="table-th" scope="col">Poids</th>
						<th class="table-th" scope="col">Quantité</th>
						<th class="table-th" scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					{% for article in panier %}
						<tr class="table-tr" data-id={{article.bonbon.id}}>
							<th class="table-th" scope="row">
								<a class="panier-lien" href="" onclick="supprimerArticle(event, {{ article.bonbon.id }})">
									Supprimer
								</a>
							</th>
							<td class="table-td">{{ article.bonbon.nom }}</td>
							{% if article.bonbon.poids < 10 %}
								<td class="table-td">{{ article.bonbon.poids }}
									Kg</td>
							{% else %}
								<td class="table-td">{{ article.bonbon.poids }}
									g</td>
							{% endif %}
							<td class="table-td">{{ article.quantity }}</td>
							<td class="table-td">{{ article.bonbon.prix * article.quantity }}€</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</div>{% endblock %}
