{% extends 'base.html.twig' %}

{% block title %}Page produits
{% endblock %}


{% block body %}
	<div class="container-height" style="min-height: 100vh">
	{{ include("navbar/index.html.twig") }}
		<div class="card" style="width: 18rem;">
			<img src="{{asset('assets/images/' ~ bonbon.image)}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{bonbon.nom}}</h5>
				<p class="card-text">Prix :
					{{bonbon.prix}}€</p>
				<p class="card-text">poids :
					{{bonbon.poids}}g</p>
				<a href="#" class="btn btn-primary">Ajouter au panier</a>
			</div>
		</div>
	</div>
{% endblock %}
