{% extends 'base.html.twig' %}

{% block title %}Page produits
{% endblock %}

{% block body %}
	{{ include('navbar/index.html.twig') }}
	<div class="container-height">
		<h1 class="text-center mb-4">
			Liste des bonbons disponibles à la vente
		</h1>
		<div id="searchBar-div">
			<input type="text" id="searchBar" placeholder="Recherche de produits">
		</div>
		<div class="bonbons_liste">

			{% for bonbon in bonbons %}
				<div class="div_img_produit">
					<a href="{{path('app_detail', {id: bonbon.id})}}"><img src="{{asset('assets/images/' ~ bonbon.image)}}" class="link_produits"></a>
					<div class="div-produits-text">
						<h2>
							{{bonbon.nom}}
						</h2>
					</div>
					<div class="addCart">
						<p>
							Cliquez sur l'image pour plus de détails
						</p>
						<i class="fa-solid fa-cart-plus addPanier" onclick="addPanier(event,{{bonbon.id}})"></i>
					</div>
				</div>

			{% endfor %}
		</div>


	</div>
{% endblock %}
