{% extends 'base.html.twig' %}

{% block title %}Page produits
{% endblock %}

{% block body %}
	{{ include('navbar/index.html.twig') }}
	<div class="container-height">
		<h1 class="text-center mb-4">
			Liste des bonbons disponibles à la vente
		</h1>
		<div id="searchBar-div">
			<input type="text" id="searchBar" placeholder="Recherche de produits">
		</div>
		<div class="bonbons_liste">
			{% for bonbon in bonbons %}
				<div class="div_img_produit" data-nom="{{bonbon.nom}}">
					<a href="{{path('app_detail', {id: bonbon.id})}}">
						<div class="image-bonbon" data-id="{{bonbon.id}}" style="background-image: url({{asset('assets/images/' ~ bonbon.image)}});">
							<h2>
								{{bonbon.nom}}
							</h2>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>


	</div>
{% endblock %}
